[Desktop Entry]
Name=Calculator
Comment=Perform basic arithmetic calculations
Exec=singularity-calculator
Icon=dev.sinty.calculator
Terminal=false
Type=Application
Categories=Utility;Calculator;
Keywords=calculate;math;convert;units;
StartupWMClass=dev.sinty.calculator
Actions=advanced;

[Desktop Action advanced]
Name=Advanced Calculator
Exec=singularity-calculator --advanced
